{% layout 'layout', title: 'Confirm Registration' %}
{% if email and token %}
<form id="form" action="./api/register/{{ token }}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="email" value="{{ email }}" required>
  <div class="extended">
    <div class="button-center">
      <button id="submit-button" type="submit" name="button">Confirm Registration!</button>
    </div>
  </div>
  <span id="error-display" style="display: none; text-align: center;"></span>
</form>
<script type="text/javascript" src="./js/ajax-form.js"></script>
<script type="text/javascript">
registerForm(
  ...['form', 'submit-button', 'error-display'].map(document.getElementById.bind(document)),
  'POST',
  './api/register/{{ token }}',
  'Confirm Registration!');
</script>
{% else %}
<h2>Invalid Arguments!</h2>
{% endif %}
