{%- layout 'layout', title: 'Verify your dice' %}
{%- if invalid -%}
<h2>Invalid link!</h2>
{%- elsif token and dice and date -%}
{%- if email and token -%}
{%- capture url %}./api/verify/{{ token }}{% endcapture -%}
{%- assign method = 'GET' -%}
{%- assign formId = 'form' -%}
<form id="{{ formId }}" action="{{ url }}" method="{{ method }}">
  <p>Dice Rolled: {{ dice | join: ", " }}</p>
  <p>At {{ date | date: "%a, %b %d, %y" }}</p>
  {% include 'form-ajaxify', buttonText: 'Verify!' %}
</form>
{%- else -%}
<h2>Malformed JSON</h2>
{%- endif -%}
